{
   project =
   {
      description="♿️ Shared library helper";
      domain="github";
      language="c";
      dialect="c";
      name="mulle-dlfcn";
      user="mulle-core";
      repo="mulle-dlfcn";
      homepage="https://github.com/mulle-core/mulle-dlfcn";
      license="BSD-3-Clause";
      version="0.1.1";
   };
   dependencies =
   (
      {
         description="🔀 Cross-platform C compiler glue (and some cpp conveniences)";
         domain="github";
         name="mulle-c11";
         repo="mulle-c11";
         url="https://github.com/mulle-c/mulle-c11";
         user="mulle-c";
      },
      {
         description="dlfcn-win32 [![Build status](https://ci.appveyor.com/api/projects/status/celmbkqj0k41fk04/branch/master?svg=true)](https://ci.appveyor.com/project/dlfcn-win32/dlfcn-win32/branch/master)";
         domain="github";
         name="dlfcn-win32";
         repo="dlfcn-win32";
         url="https://github.com/mulle-core/dlfcn-win32";
         user="mulle-core";
      }
   );
}
